@import './vars.scss';

.sidebar-item-bottom-border{
    border-bottom: 1px solid #e4e6eb;
}
.sidebar-item-top-border{
    border-top: 1px solid #e4e6eb;
}
.sidebar-item{
    width: $item-width;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    padding-left: 10px;
    padding-right: 20px; 
}
.sidebar-item-wide {
    padding-top: 10px;
    padding-bottom: 10px; 
    min-height: $item-wide-min-height;
    height: $item-wide-height;
}
.sidebar-item-narrow{
    min-height: $item-narrow-min-height;

}

.sidebar-item label{
    padding-left:10px;
}

.sidebar-submit-button{
    background-color: transparent;
    border:none;
    cursor: pointer;
    font-size: 14px;
    color: $main-border-color;
    text-decoration: underline;
    
}