@import './_vars.scss';
@import './_input-container.scss';

.tag-item-container{
    padding-left: 10px;
    padding-right: 10px;
}
.tag-input-container{
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 2px;
    cursor: text;
    overflow:hidden;
    width: 100%;
    min-height: 38px;
    display: flex;
    flex-flow: row wrap;

}
.tag-input-container-active{
    border-color: #2271b1;
    box-shadow: 0 0 0 1px #2271b1;
    outline: 2px solid transparent;
}


.tag-input-container>input{
    min-width: 0px;
    flex-grow: 1;
    flex-basis:$input-min-width;
    border:none;
    display: inline-block;
    width: auto;
}
.tag-input-container>input:focus{
    border:none;
    box-shadow: none;
    outline: none;
    font-size: 13px;
}
.tag-item-name{
    padding-left: 3px;
}
.tag-item-token{
    flex-grow: 0;
    background-color: rgb(239,239,239);
    border-radius: 2px;
    min-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 4px 4px 4px;
}
.tag-item-token button{
    border:none;
}