.post-selected{
    .filter-elements-wrapper{
        width: 92%;
    }
    .search-type-text{
        width:auto;
        line-height: 1.7;
    }
    .fo-settings{
        font-size: 30px;
        line-height: 1.1;
        margin-left: 10px;
    }
    .button-container{
        margin-top:10px;
    }
    .post-filter-input{
        width:100%
    }
}