<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="./tests/bootstrap.php" backupGlobals="false" colors="true" convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd">
  <coverage processUncoveredFiles="true">
    <include>
      <directory suffix=".php">inc/</directory>
    </include>
    <exclude>
      <directory suffix=".php">inc/Core</directory>
      <directory suffix=".php">inc/Message</directory>
      <directory suffix=".php">inc/Interfaces</directory>
      <directory suffix=".php">inc/Factory</directory>
    </exclude>
  </coverage>
  <testsuites>
    <testsuite name="testing">
      <directory prefix="test-" suffix=".php">./tests/</directory>
      <exclude>./tests/test-sample.php</exclude>
    </testsuite>
  </testsuites>
</phpunit>
