<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<filter>
		<whitelist processUncoveredFilesFromWhitelist="true">
			<directory suffix=".php">inc/</directory>
			<exclude>
				<directory suffix=".php">inc/Core</directory>
				<directory suffix=".php">inc/Message</directory>
				<directory suffix=".php">inc/Interfaces</directory>
				<directory suffix=".php">inc/Factories</directory>
			</exclude>
		</whitelist>
	</filter>
	<testsuites>
		<testsuite name="news-parser">
			<directory  suffix=".php">./tests/</directory>
			<exclude>./tests/boostrap.php</exclude>
		</testsuite>
	</testsuites>
</phpunit>
