.message-wrapper {
  width: 100%;
  display: flex;
  justify-content: center; }

.message {
  min-width: 340px;
  min-height: 40px;
  width: 57%;
  transition: 0.5s ease;
  position: fixed;
  padding: 2% 0 2% 0;
  display: flex;
  justify-content: flex-start;
  z-index: 99900;
  top: 24px;
  background-color: #fff;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.3); }

.message-content {
  display: flex;
  justify-content: center;
  align-items: center; }

.message-close {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 20px;
  cursor: pointer;
  font-size: 25px;
  color: #757575; }

.message-icon {
  margin-left: 20px;
  font-size: 26px;
  color: #757575; }

.message-text {
  font-size: 15px;
  margin-left: 25px; }

@media screen and (max-width: 600px) {
  .message {
    position: absolute; } }

@media screen and (max-width: 782px) {
  .message {
    top: 45px;
    width: 81%; } }

frame {
  width: 100%;
  height: 100%; }

.media-modal-wrapper {
  position: relative; }

.modal-container {
  display: flex;
  flex-direction: column; }

.modal-container {
  position: fixed;
  margin: 2%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 160000; }

.modal-header {
  flex-basis: 30px;
  background-color: #fff;
  border-bottom: solid 1px #ddd; }

.loading-spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: white;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .loading-spinner img {
    width: auto;
    height: 16em; }

.modal-header {
  z-index: 2; }
  .modal-header h1 {
    margin: 0.5em 0 0.5em 0.5em !important;
    float: left;
    width: 80%;
    font-size: 2em !important;
    padding: 0; }
  .modal-header .media-modal-close {
    top: 0px !important;
    width: auto;
    height: 100%;
    position: relative;
    float: right;
    margin: 0px 1% 0px 1%; }

.media-modal-close:focus {
  border: none;
  box-shadow: none; }

.modal-main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  height: 0; }

.parsed-data-container {
  width: 80%;
  height: 100%; }

.modal-right-side-bar {
  border-left: solid 1px #ddd;
  background-color: #f3f3f3;
  height: 100%;
  width: 20%;
  min-width: 225px;
  overflow-y: scroll; }

.modal-footer {
  flex-basis: 35px;
  overflow: auto;
  height: auto;
  min-height: 30px;
  width: 100%;
  padding: 1% 0 1% 0;
  border-top: solid 1px #ddd;
  background-color: #fff; }

.modal-footer .button {
  position: relative;
  float: right;
  right: 2%; }

#visual-constructor {
  width: 100%;
  height: 100%; }

/*
    Frame block selection
*/
.mouse-over {
  outline: 2px dotted #6bd6cc;
  background-color: rgba(107, 214, 204, 0.5); }

.parser-select {
  box-sizing: border-box;
  border: 3px solid #6bd6cc;
  background-color: rgba(107, 214, 204, 0.8); }

.news-parser-youtube {
  width: 100%;
  height: 100%; }

/* 
    Visual constructor sidebar 
*/
.inner-sidebar-container {
  padding: 5%; }
  .inner-sidebar-container .postbox {
    min-width: 200px; }

.infobox-header {
  display: block;
  margin: 0;
  padding: 0.7em 0 0.7em 1em;
  font-size: 14px; }

.infobox-footer {
  overflow: auto;
  background: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 10px; }

.infobox-footer button {
  float: right; }

.post-title-input {
  width: 100%; }

.inline-bl {
  display: inline-block;
  margin: 0 0 0 0.3em;
  width: 80%; }

.featured-image-thumbnail {
  width: 266px;
  height: 150px; }

.no-featured-image {
  opacity: 0.3; }

.info-box-container {
  margin: 0.5em 0 0 0; }

.info-box-container input {
  top: 6px;
  vertical-align: top;
  position: relative; }

@media screen and (max-width: 500px) {
  .modal-main {
    flex-direction: column; }
    .modal-main .parsed-data-container {
      height: 70%;
      width: 100%; }
    .modal-main .modal-right-side-bar {
      height: 30%;
      width: 100%; } }

@charset "UTF-8";
.fo {
  font-family: 'fontello';
  display: inline-block;
  font-style: normal; }

.fo-down-arrow:after {
  content: '\E935'; }

.fo-down-arrow {
  visibility: hidden;
  position: absolute; }

.fo-clock::after {
  content: '\E801';
  margin-right: 2px; }

.fo-info:before {
  content: ""; }

.fo-error:before {
  content: ""; }

.fo-success:before {
  content: ""; }

.fo-gallery:before {
  content: ""; }

.fo-visual-constructor:before {
  content: ""; }

.fo-select:before {
  content: ""; }

.fo-close:before {
  content: ""; }

.fo-dashicons-news-parser:before {
  content: ""; }

.fo-preview:before {
  content: ""; }

.fo-edit:before {
  content: ""; }

.fo-save:before {
  content: ""; }

.fo-menu:before {
  content: ""; }

.fo-download:before {
  content: ""; }

.fo-info {
  display: none; }

.fo-success {
  display: none; }

.fo-error {
  display: none; }

.post-container {
  float: left;
  width: 30%;
  margin: 1.5%;
  min-width: 275px;
  background-color: #fff;
  border: 1px solid #e4e6eb;
  overflow: hidden;
  border-radius: 4px;
  transition: .3s;
  display: flex;
  flex-direction: column; }

.highlight {
  box-shadow: 3px 2px 5px rgba(0, 0, 0, 0.3); }

.post-time {
  height: 38px;
  min-height: 20px;
  display: flex;
  align-items: center;
  color: #757575;
  margin-left: 24px; }

.img-post-link {
  position: relative; }

.img-post-link::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 45px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent #FFF transparent; }

.title-post-link {
  display: block;
  text-decoration: none;
  color: #000;
  margin: 0 15px; }

.post-title-wrapper {
  position: relative;
  margin-top: 10px; }

.post-title {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 15px;
  font-weight: 600; }

.post-description {
  margin: 10px 15px;
  position: relative; }

.post-description span {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 200; }

.post-content {
  overflow: hidden; }

.post-menu {
  background-color: #f1f1ff;
  border-top: 1px solid #e4e6eb;
  height: 0;
  overflow: hidden; }

.footer-post {
  margin-top: auto;
  height: 38px;
  min-height: 20px;
  width: 100%;
  background-color: #f1f1ff;
  color: #c6c6c6;
  font-size: 17px;
  display: flex;
  align-items: center; }

.footer-post .fo {
  margin-left: 15px;
  cursor: pointer;
  padding: 1px; }

.footer-post .fo:hover {
  color: #757575; }

.post-image {
  height: auto;
  width: 100%; }

.icon-selected {
  border: solid 1px;
  color: #0073aa;
  margin-left: 13px !important; }

.post-image-wrapper {
  overflow: hidden; }

@media screen and (max-width: 1307px) {
  .post-container {
    width: 46%; } }

@media screen and (max-width: 782px) {
  .posts-wrapper {
    flex-direction: column;
    align-items: center; }
  .post-container {
    width: 80%; }
  .download-indicator {
    top: 46px; } }

.download-indicator {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 32px;
  height: 3px;
  left: 3px;
  background-image: linear-gradient(to right, #f9d423 0%, #ff4e50 70%); }

.animate {
  display: block;
  transition: width 3s ease-out; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: auto;
  background-color: #f1f1f1; }

.appContainer {
  margin: auto; }

.main-parsing-container {
  display: flex;
  flex-direction: row;
  height: 93vh;
  position: absolute;
  width: 100%; }

.posts-wrapper {
  position: relative;
  display: inline-flex;
  flex-wrap: wrap; }

.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  vertical-align: middle; }

.newTitleList {
  min-height: 34px; }

.icon {
  height: 33px;
  display: none; }

.wrap-parsing h1 {
  margin-top: 30px;
  font-size: 38px;
  font-weight: 400; }

.wrap-parsing {
  width: 90%;
  height: 100%;
  margin: 0 0% 0 5%;
  display: flex;
  flex-direction: column; }

.container {
  background-color: #f1f1f1;
  border: 1px solid #e4e6eb;
  border-radius: 4px; }

.search {
  margin: 2% 0 2% 0;
  padding: 2% 0 2% 0; }

.row {
  width: 100%;
  min-height: 10px;
  float: left; }

.search-textbox {
  height: 44px;
  width: 100%;
  max-width: 584px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: none; }

.center {
  text-align: center; }

.main-button {
  margin: 0px 3px 3px 4px;
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  color: #757575;
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
  max-width: 144px;
  min-width: 130px;
  width: 40%;
  height: 44px; }

.main-button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  color: #222; }

.mt-10 {
  margin-top: 10px; }

.visible {
  display: block; }

.transparent {
  opacity: 0; }

.hidden {
  display: none; }

.no-scroll {
  overflow: hidden;
  height: 1px; }

.button-primary {
  background: #0085ba;
  border-color: #0073aa #006799 #006799;
  box-shadow: 0 1px 0 #006799;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799; }

.button {
  line-height: 50px;
  padding: 0 25px;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  margin: 0;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box; }

.button-primary:hover {
  background: #008ec2;
  border-color: #006799;
  color: #fff; }

.button-secondary:hover {
  background: #fafafa;
  border-color: #999;
  color: #23282d; }

.button:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d; }

.submit {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px; }

.button-secondary {
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #ccc; }

.clicked {
  border-color: #5b9dd9;
  box-shadow: 0 0 3px rgba(0, 115, 170, 0.8); }

.data-list {
  display: flex; }

.data-list .fo-down-arrow {
  right: 4px;
  top: 2px;
  cursor: pointer;
  z-index: 500; }

.data-list:hover .fo-down-arrow {
  visibility: visible; }

.url-input:focus ~ .fo-down-arrow {
  visibility: visible; }

.closed {
  top: -100px !important; }

.about-text p,
li {
  font-size: 16px; }

