.sidebar-width{
    flex-basis: 200px;
}
#parsing-rss-app{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 100vw;
}
.left-main-sidebar{
    background-color: white;
    height: 100%;
    flex-shrink: 0;

}