@import './sidebar/vars.scss';


.sidebar-closed{
    width: 0;
    min-width: 0;
}
#parsing-rss-app{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.left-main-sidebar{
    background-color: white;
    height: 100%;
    transition: min-width 30ms;
    overflow-y: auto;
    flex-shrink: 0;
}



.sub-sidebar-item{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}




@media screen and (max-width: 782px) {
    .left-main-sidebar{
        position: fixed;
        right: 0px;
        top:46px;
        height: calc(100% - 46px);
    }
 
}

@media screen and (max-width: 1024px) {
    .left-main-sidebar{
        position: fixed;
        right: 0px;
        top:32px;
        height: calc(100% - 32px);
    }
 
}


