.post-filter{
    .filter-elements-wrapper{
        width:92%;
        table{
            width:100%;
        }
    }
   
    .fo-delete{
        font-size: 30px;
        line-height: 1.1;
        margin-left: 10px;
        cursor: pointer;
    }
    

}