.exp-setting-container{
   
    
    .fo-down-arrow{
        position: relative;
        visibility: visible;
        float: right;
    }
    .hide{
        height: 0px;
        overflow: hidden;
    }
    .show{
        height: auto;
    }
}
