.search {
  margin: auto;
  padding: 1% 0 2% 0; 
  width: 100%;
}
.search-textbox {
  height: 44px;
  max-width: 584px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  border-radius: 2px;
  border: none; 
}
  .main-input-button {
  height:100%;
  margin-left:1rem;
  min-height: 40px;
  min-width: 110px;
}