.sub-sidebar-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; }

    @media screen and (min-width: 768px) {
        .sidebar-open-icon {
          right: 10px; } 
    }
      