@import 'mixins/_fo-icon';


.fo{
    font-family: 'fontello';
      display: inline-block;
      font-style: normal;
  }

$message-icons:(
    info:(
        content: '\F129'
    ),
    error:(
        content: '\EA0E'
    ),
    success:(
        content: '\E828'
    ),
);
$main-icons:(
    gallery:(
        content: '\EC2C'
    ),
    visual-constructor:(
        content: '\E848'
    ),
    select:(
        content:'\E828'
    ),
    close:(
        content: '\E82B'
    ),
    dashicons-news-parser:(
        content: '\F1EA'
    ),
    preview:(
        content: "\E848"
    ),
    edit:(
        content: "\E855"
    ),
    save:(
        content: "\E8BC"
    ),
    menu:(
        content: "\E8D3"
    ),
    download:(
        content: "\E850"
    )
);
.fo-down-arrow:after {
    content: '\E935';
}
.fo-down-arrow {
    visibility: hidden;
    position: absolute;
}

.fo-clock::after {
    content: '\E801';
    margin-right: 2px;
}

@include fo-icon($message-icons);
@include fo-icon($main-icons);

.fo-info {
    display: none;
}

.fo-success {
    display: none;
}

.fo-error {
    display: none;
}