@import '_icons.scss';
@import '_post-box.scss';
@import '_indicator.scss';

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: auto;
    background-color: #f1f1f1
}

.appContainer {
    margin: auto;
}

.posts-wrapper {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
}


.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: middle;
}

.newTitleList {
    min-height: 34px;
}

.icon {
    height: 33px;
    display: none;
}

.wrap-parsing h1 {
    margin-top: 30px;
    font-size: 38px;
    font-weight: 400;
}

.wrap-parsing {
    width: 90%;
    height: 100%;
    margin: 0 5% 0 5%;
}

.container {
    background-color: #f1f1f1;
    border: 1px solid #e4e6eb;
    border-radius: 4px;
}

.search {
    margin: 2% 0 2% 0;
    padding: 2% 0 2% 0;
}

.row {
    width: 100%;
    min-height: 10px;
    float: left;
}

.search-textbox {
    height: 44px;
    width: 100%;
    max-width: 584px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    border: none;
}

.center {
    text-align: center;
}

.main-button {
    margin: 0px 3px 3px 4px;
    border: 1px solid #c6c6c6;
    border-radius: 2px;
    color: #757575;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    max-width: 144px;
    min-width: 130px;
    width: 40%;
    height: 44px;
}

.main-button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    color: #222;
}
.icon-selected{
    border: solid 1px;
    padding: 1px;
    color: #0073aa;
}
.mt-10{
    margin-top:10px;
}
.visible {
    display: block;
}

.hidden {
    display: none;
}

.no-scroll {
    overflow: hidden;
    height: 1px;
}

.button-primary {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}

.button {
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    margin: 0;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
}

.button-primary:hover {
    background: #008ec2;
    border-color: #006799;
    color: #fff;
}

.button-secondary:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.button:focus {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}
.submit {
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}

.button-secondary {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
}

.clicked {
    border-color: #5b9dd9;
    box-shadow: 0 0 3px rgba(0, 115, 170, .8);
}

.data-list {
    display: flex;
}
.data-list .fo-down-arrow {
    right: 4px;
    top: 2px;
    cursor: pointer;
    z-index: 500;
}

.data-list:hover .fo-down-arrow {
    visibility: visible;
}

.url-input:focus~.fo-down-arrow {
    visibility: visible;
}

.closed {
    top: -100px !important;
}

.about-text p,
li {
    font-size: 16px;
}




