.filter-tag{
    margin: 0 0 0 5px !important;
    padding: 0 7px 0 7px;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    .fo-icon{
        margin-left:3px;
    }
}
